*{
  margin: 0;
  padding: 0;
  font-family: 'Circular Std Light', sans-serif;
  cursor: url('images/cursor.png'), auto;
}


a{
  text-decoration: none;
}


.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

#btn-back-to-top {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
z-index: 100;
}

/*---------------font-section--------------*/


@font-face {
  font-family: 'Circular Std Light';
  src: url('font/CircularStd-Light.otf') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url('font/CircularStd-Bold.otf') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url('font/CircularStd-Medium.otf') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('font/CircularStd-Book.otf') format('woff2');
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Recoleta Alt Bold';
  src: url('font/Recoleta Alt Bold.otf') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/*---------------scroller-section--------------*/


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 20px;

}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F23005;
  background-size: 40px;
  border-radius: 10px;
  background-position: center;
  display: block;
}


::-webkit-scrollbar-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}

:-webkit-scrollbar-button:end {
   display: contents;
}

:-webkit-scrollbar-button:start {
   display: contents;
}

:-webkit-scrollbar-button:horizontal:increment {
   background-image:url('images/icona_freccia_blk.png');
}

:-webkit-scrollbar-button:horizontal:decrement {
    background-image:url('images/icona_freccia_blk_l.png');
}



/*---------------cursor-section--------------*/


.container, .container-fluid, .container-lg, .container-sm, .container-xl{
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x,15px);
    padding-right: var(--bs-gutter-x,15px);
    width: 100%;
}
/*---------------menu-section--------------*/

button{
  border: 0;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  z-index: 10;
  -webkit-appearance: none !important;
}


nav{
  position: sticky;
  top: 0;
  z-index: 100;
  outline: 1px solid black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 20px 0 0 20px;
  text-decoration: none;
  color: black;
}

.nav-link{
  color: #AAAAAA;
  font-size: 15px;
  font-family: 'Circular Std Light', sans-serif;
  text-align: center;
  cursor: pointer;
}

 .nav-link:hover{
  color: #F23005;
  text-decoration: underline;
}

.nav-accedi{
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 15px;
  color: black;
}

.nav-accedi:hover{
  color: white;
}

.logo{
  width: 90px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}


.menu{
  width: 20px;
  align-items: center;
}


/*---------------banner-section--------------*/

#banner {
  height: 100vh;
  background-color: white;
  padding: 25px 25px 0px 25px;
  justify-content: center;
  outline: 1px solid black;
  background: url("images/bg.png");
  background-attachment: fixed;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100vw;
}


.bg{
  position: relative;
  text-align: center;
  width: 1100%;
  z-index: 0;
  display: inline-block;
  display: flex;
  -webkit-appearance: none;
}

.claim {
  font-family: 'Circular Std Light', sans-serif;
  font-size: 50px;
  position: relative;
}


.img-banner{
  width: 110%;
  float: center;
  position: relative;
  top: 30px;

}

#firstLottie{
  align-items: center;
  width: 100%;
}

.banner-button{
  background-color: white;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
}

.button-icon{
  width: 10%;
  -webkit-appearance: none;
}


.btn-outline-dark{
  display: inline-block;
  background-color: white;
  border-color: black;
  color: black;
}


.btn{
  display: inline-block;
  font-size: 15px;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}


.btn-action{
  width: 160px;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  transition: width 0.5s;
  -webkit-appearance: none;
}

.btn-action:hover{
  width: 170px;
  justify-content: space-between;
  -webkit-appearance: none;
}


.btn-action img{
  width: 15px;
  display: none;
  margin-left: 10px;
}

.btn-action:hover img{
  display: inline-block;
}


/*---------------function-section--------------*/

#function-artigiano{
  padding-top: 60px;
}

#function-cliente{
  background-color: #F6F6F6;
  margin-top: 70px;
  padding-top: 60px;
  padding-bottom: 70px;
  outline: 1px solid black;
}

.w-100{
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-md-6{
  font-family: 'Circular Std Light', sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.claim-2{
  font-family: 'Recoleta Alt Bold', sans-serif;
  font-size: 36px;
  flex-basis: 100%;
}

.claim-3{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 16px;
  flex-basis: 100%;
}

.claim-4{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
}


.title{
  font-family: 'Circular Std Medium', sans-serif;
  margin-top: 20px;
}

.image-function{
  width: 100%;
  position: relative;
  text-align: left;
  z-index: 10;
}

.btn-function{
  position: absolute;
  transform: translate(-133%, -230%);
  -webkit-appearance: none;
}

.btn-function-a{
  position: absolute;
  transform: translate(-150%, 30%);
  -webkit-appearance: none;
}

.effect{
  margin: auto;
  width: 100%;
  z-index: -10;
}


.number {
  z-index: 10;
  width: 18%;
  height: 18%;
  text-align: center;
  margin-top: 10px;
}


.function-list{
  white-space: normal;
  display: inline;
  margin-left: 0 auto;
  margin-top: 20px;
}


.function-list p{
  font-family: 'Circular Std Light', sans-serif;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 20px;
}



/*---------------services-section--------------*/

#services {
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.services-title{
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.services-image{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*---------------video-section--------------*/

#video{
text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 70px;
  margin-bottom: 50px;
}

/*---------------??-section--------------*/


.col-md-4{
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
  text-align: center;
}

/*---------------footer-section--------------*/

#footer{
  background-color: #F23005;
  color: black;
  padding: 20px 70px 20px 70px;
}

.footer-text{
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 16px;
  color: white;
}

.col-md-auto{
  vertical-align: super;
}

.footericon{
  margin-left: 5px;
}

.footer-icon{
  width: 18px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.footer-logo{
  width: 120px;
  cursor: pointer;
}

.list-unstyled li{
    font-family: 'Circular Std Light', sans-serif;
    list-style: none;
    padding-left: 0;
}

.col{
  padding-top: 20px;
  padding-left: 30px;
}


.footer-specs{
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    color: white;
    padding-top: 20px;
}

/*---------------manifesto-section--------------*/

/*---------------valori-section--------------*/

#valori{
  background-color: white;
  color: black;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;

}


.image-title{
  width: 250px;
  margin-top: 20px;
}


.values-text{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
  text-align: left;
}

.image-valori{
  width: 100%;
}

/*---------------vision-section--------------*/

#vision{
    background-color: #F4F4F4;
    color: black;
    padding-top: 60px;
    padding-bottom: 40px;
    outline: 1px solid black;
  }

.image-vision{
  display: none;
}


#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image:
  url('images/obj1.png'),
  url('images/obj2.png'),
  url('images/obj3.png'),
  url('images/obj4.png'),
  url('images/bg-vision.png');
  background-repeat: no-repeat;
  background-position: center;
}



/*---------------mappa-section--------------*/

#mappa{
    color: black;
    margin-bottom: 100px;
    padding-top: 60px;
  }


.mappa-image{
  width: 80%;
  position: relative;
  text-align: left;
  z-index: 10;
}

#team{
    color: black;
    margin-bottom: 100px;
    padding-top: 40px;
  }


.image-team{
  width: 110%;
  margin-top: 20px;
  display: block;
}

.image-hover{
  position: absolute;
  top: 20px;
  left: 30px;
  width: 95%;
  margin-top: 20px;
  opacity: 0;
}


.col:hover .image-hover{
  opacity: 1;
}

.col:hover .image-team{
  opacity: 0;
}

.team-text{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}


/*---------------contatti-section--------------*/

#contatti{
    color: black;
    padding-top: 50px;
    padding-bottom: 40px;
  }

.update-image{
  width: 50vw;
}

.tools-text{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
  text-align: left;
}

#update{
  color: black;
  margin-bottom: 90px;
}

.image-contatti{
  position: relative;
  text-align: right;
  z-index: 10;
}

/*---------------storie-section--------------*/

#storie{
    color: black;
    padding-top: 40px;
  }

#storie-artigiani{
  margin-bottom: 40px;
  padding-top: 40px;
}

#storie-clienti{
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
  outline: 1px solid black;
}


.container-fluid storie{
  width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}


.scrolling-wrapper{
  overflow-x: scroll;
}

.scrolling-wrapper::-webkit-scrollbar-thumb{
  display: none;
}


.card-block{
  padding-top: 30px;
	height: 430px;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 13px;
}

card-block:hover{
		box-shadow: none;
    box-shadow: 0px 0px 10px #C1C1C1;
}

.card-1{
background-color: #F4F4F4;
}

.card-2{
background-color: #ffffff;
  }

.storie-image{
  width: 50%;
}


#community{
  color: black;
  margin-bottom: 100px;
  padding-top: 100px;
}

/*---------------servizio-section--------------*/

#processo{
  color: black;
  margin-bottom: 40px;
  padding-top: 40px;
}

#processo-clienti{
  position: static;
  color: black;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #F4F4F4;
  outline: 1px solid black;
}


.carousel-item{
  height: 65vh;
  font-family: 'Circular Std Light', sans-serif;
}

#myCarousel{

}







@media screen and (min-width: 801px) {
}



@media screen and (max-width:767px) {

  p{
    font-size: 16px;
  }

  .btn{
    font-size: 13px;
    display: inline-block;
  }

  #nav-bar {
      position: sticky;
      top: 0;
      z-index: 100;
      outline: 1px solid black;
      width: 100vw;
      overflow: none;
  }


  nav ul {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-right: 25vw;
    padding-top: 12vh;
    background: url("images/nav_bg.png");
    background-size: 50vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    overflow: none;
  }

  nav ul li {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 100;
    line-height: 8vh;
    overflow: none;
  }


  .nav-link{
    font-family: 'Circular Std Book', sans-serif;
    font-size: 26px;
    color: black;
  }

  .nav-accedi{
    font-family: 'Circular Std Book', sans-serif;
    font-size: 30px;
    color: black;
  }

  .nav-link:hover{
    color: #F23005;
    text-decoration: underline;
  }

  #banner{
    background: none;
  }

.btn-action{
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
  -webkit-appearance: none !important;
}

  #footer{
    padding: 0 0 0 0;
  }

  .container, .container-lg {
      max-width: 960px;
  }

  .col-5{
    width: 100%;
  }

  .col-md-6{
    width: 100vw;
  }

  .claim{
    top: 0px;
    font-size: 32px;
  }

  .claim-2{
    font-size:30px;
  }

  #firstLottie{
    align-items: center;
  }

  .image-banner{
  width: 100vw;
  padding-right: 30px;
  }

  #function-artigiano{
    padding-top: 100px;
  }

  #function-cliente{
    padding-top:100px;
  }

 .image-function{
   width: 100%;
 }


   .carousel-item{
     height: 37vh;
   }

 .carousel-item,.image-function{
   width: 100%;
 }

  .function-list p{
    text-align: center;
  }

  .col-lg-6{
    text-align: center;
  }

  .effect{
    display: none;
  }

  .btn-function,.btn-function-a{
    position: relative;
    transform: none;
    margin-right: 0;
  }

  .values-text{
  text-align: center;
  }

  #parallax{
    background-size: contain;
    height: 30vh;
  }

  .row.team{
    flex-direction: column;
  }

  .mappa-image{
    width: 80vw;
  }

  .image-team{
    width: 80vw;
    align-items: center;
    flex: auto;
  }

  .tools-text{
    text-align: center;
  }



  @media screen and (max-width:380px){
  .claim{
    top: 0px;
    font-size: 23px;
  }

  .nav-link, .nav-accedi{
    margin-top: 0px;
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 23px;
  }

  }


  @media only screen and (min-height: 1020px) {

    #banner{
      background: none;
    }

      .image-valori{
      width: 50%;
      }

      .image-function{
      width: 30%;
      }




  }
