*{
  margin: 0;
  padding: 0;
  font-family: 'Recoleta', sans-serif;
  cursor: url("images/x.png"), auto;
}


#mask {
  background-color: #F23005;
  stroke: white;
  stroke-width: 5;
  fill-opacity: 0;
  z-index: 9999;
}


#innercircle {
position: absolute;
top: 0;
left: 0;
}

.cursor {

}

.container, .container-fluid, .container-lg, .container-sm, .container-xl{
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x,15px);
    padding-right: var(--bs-gutter-x,15px);
    width: 100%;
}
/*---------------menu-section--------------*/

button{
  border: 0;
  padding: 12px 10px;
  outline: 1px;
  color: black;
  background-color: white;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

button:hover{
  color: white;
  background-color: #F23005;
}

.logo{
  width: 50%;
  cursor: pointer;
}

.menu{
  width: 20px;
  align-items: center;
}


#nav-bar{
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar{
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-collapse {

  justify-content:center;
    }

.navbar-brand{
  height: 90px;
}

.navbar-nav li
{
  text-decoration: none;
  color: black;
  font-size: 15px;

}

.navbar-nav li a
{
  font-family: 'Circular Std Medium', sans-serif;
  float: right;
  text-align: left;
}

.navbar-nav li a:hover
{
  color: #F23005;
}


/*---------------banner-section--------------*/

#banner {
  background-color: #F4F4F4;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  justify-content: center;
}

.claim {
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 38px;
  position: absolute;
  top: 15%;

}

.banner-button{
  background-color: white;
  display: inline-block;
  position: relative;
}

.button-icon{
  width: 10%;
}

.banner-section{
  position: relative;
  display: inline-block;
}


.btn{
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 15px;
  display: inline;
}

.btn:hover{
  background-color: #F23005;
}

.btn-artigiano{
  background-color: #F4F4F4;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 15px;
  float: right;
}


.img-fluid{
  width: 80%;
  float: right;
  margin-right: -50px;
}


.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

/*---------------function-section--------------*/

#function{
  color: black;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 70px;
  margin-bottom: 100px;
}

.claim-2{
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 32px;
  flex-basis: 100%;
}

.title{
  font-family: 'Circular Std Medium', sans-serif;

  margin-top: 20px;
}

/*no*/

.column-right{
  font-family: 'Circular Std Light', sans-serif;
  text-align: right;
  width: 40%;
  padding-top: 70px;
  margin-right: 30px;
}

.column-left{
  font-family: 'Circular Std Light', sans-serif;
  text-align: left;
  width: 40%;
  padding-top: 70px;
  margin-left: 30px;
}

/*no*/

.col-md-4{
  font-family: 'Circular Std Light', sans-serif;
}

.image-center{
  width: 80%;
  position: relative;
  align-items: center;
  z-index: 10;
}


/*---------------services-section--------------*/

#services {
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.services-title{
  font-size: 32px;
  text-align: center;
}

.services-image{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/*---------------services-section--------------*/


#tools{
  background-color: #F4F4F4;
  color: black;
  margin-bottom: 100px;
  padding-top: 40px;
}

.tools-title{
  font-family: 'Recoleta';
  font-size: 32px;
}

.tools-text{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
}

.btn-action{
  width: 150px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 15px;
  display: inline-block;
  transition: width 0.5s;
}

.btn-action:hover{
  width: 160px;
  justify-content: space-between;
}

.btn-action img{
  width: 20px;
  display: none;
  margin-left: 10px;
}

.btn-action:hover img{
  display: inline-block;
}

.col-md-6{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;
  z-index: 1;
}

/*---------------discover-section--------------*/

#discover{
  color: black;
  padding-bottom: 40px;
}

.btn-discover{
  width: 140px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 15px;
}

/*---------------footer-section--------------*/

#footer{
  background-color: #F23005;
  color: black;
  padding: 20px 70px 20px 70px;
}

.footer-text{
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 16px;
  color: white;
}

.col-md-auto{
  vertical-align: super;
}

.footericon{
  margin-left: 10px;
}

.footer-icon{
  width: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.footer-logo{
  width: 120px;
  cursor: pointer;
}

.list-unstyled li{
    font-family: 'Circular Std Light', sans-serif;
    list-style: none;
    padding-left: 0;
}

.col{
  padding-top: 20px;
  padding-left: 30px;
}


.footer-specs{
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    color: white;
    padding-top: 20px;
}

/*---------------manifesto-section--------------*/

/*---------------valori-section--------------*/

#valori{
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linea{
  width: 65%;
  margin-left: -10%;
  position: absolute;
  z-index: 0;
}

.sottotitolo{
  font-size: 23px;
  font-family: 'Recoleta', sans-serif;
  text-align: center;
  position: relative;
  z-index: 10;
}

/*---------------vision-section--------------*/

#vision{
    background-color: #F4F4F4;
    color: black;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

.vision-image{
  width: 60%;
  margin: 20px;
}



@media only screen and (max-width:500px){
  .row{
    flex-direction: column-column-reverse;
    margin: 50px 0;
  }

  .container, .container-lg {
      max-width: 960px;

  .img-fluid{
    width: 100%;
  }

  .claim{
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .align-items-lg-start {
      align-items: flex-start!important;
  }
