*{
  margin: 0;
  padding: 0;
  font-family: 'Recoleta', sans-serif;
  cursor: url("images/x.png"), auto;
}

a{
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}


.cursor {

}

.container, .container-fluid, .container-lg, .container-sm, .container-xl{
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x,15px);
    padding-right: var(--bs-gutter-x,15px);
    width: 100%;
}
/*---------------menu-section--------------*/

button{
  border: 0;
  padding: 10px 10px;
  outline: 1px solid black;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Circular Std Light', sans-serif;
  font-size: 15px;
  display: inline;
  z-index: 10;
}

button:hover{
  color: white;
  background-color: black;
}



.menu{
  width: 20px;
  align-items: center;
}


#nav-bar{
  position: sticky;
  top: 0;
  z-index: 100;
  outline: 1px solid black;
}


.navbar{
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}


.logo{
  width: 90px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}



.navbar-nav li{
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: flex;
}

.navbar-nav li a{
  font-family: 'Circular Std Light', sans-serif;
  text-align: center;
  cursor: pointer;
}

.navbar-nav li a:hover
{
  color: #F23005;
  text-decoration: line-through;
}


.navbar-collapse{
  flex-basis: 100%;
    flex-grow: 1;
}

.navbar-collapse.show {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    text-align: center;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.navbar-collapse.show ul {
    align-items: center;
    font-family: 'circular std light';
}

.navbar-collapse.show li{
    margin-top: 20px;

}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.navbar-toggler {
    transition: box-shadow .0s ease-in-out;
}


.btn-nav{
  float: center;
  font-family: 'circular std light';
}

/*---------------banner-section--------------*/

#banner {
  height: 100vh;
  background-color: white;
  padding: 25px 25px 0px 25px;
  justify-content: center;
  outline: 1px solid black;
  background: url("images/bg.png");
  background-attachment: fixed;
   background-origin: content-box;
   background-repeat: no-repeat;
   background-size: 100vw;
}


.claim {
  font-family: 'Circular Std Light', sans-serif;
  font-size: 50px;
  position: relative;

}


.img-banner{
  width: 110%;
  float: center;
  position: relative;
  top: 30px;

}

#firstLottie{
  align-items: center;
  width: 100%;
}

.banner-button{
  background-color: white;
  display: inline-block;
  position: relative;
}

.button-icon{
  width: 10%;
}


.btn-banner{
  margin-right: 20px;
  margin-top: 10px;
}



/*---------------function-section--------------*/

#function-artigiano{
  margin-top: 70px;
}

#function-cliente{
  background-color: #F6F6F6;
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  outline: 1px solid black;
}

.w-100{
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-md-6{
  font-family: 'Circular Std Light', sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.claim-2{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 36px;
  flex-basis: 100%;
}

.claim-3{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 16px;
  flex-basis: 100%;
}

.claim-4{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
}


.title{
  font-family: 'Circular Std Medium', sans-serif;
  margin-top: 20px;
}

.image-function{
  width: 100%;
  position: relative;
  text-align: left;
  z-index: 10;
}


.effect{
  margin: auto;
  z-index: -10;
}


.bg{
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 0;
  display: inline-block;
}

.number {
  display: flex;
  z-index: 10;
  width: 30%;
  float: none;
}


.function-list{
  white-space: normal;
  display: inline;
  margin-left: 0 auto;
  margin-top: 20px;
}


.function-list p{
  font-family: 'Circular Std Light', sans-serif;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 20px;
}



/*---------------services-section--------------*/

#services {
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.services-title{
  font-family: 'circular Std Light';
  font-size: 32px;
  text-align: center;
  top

}

.services-image{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/*---------------tools-section--------------*/


#tools{
  background-color: #F4F4F4;
  color: black;
  margin-bottom: 100px;
  padding-top: 40px;
}

.tools-title{
  font-family: 'Recoleta';
  font-size: 32px;
}

.tools-text{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;

}

.btn-action{
  width: 160px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Circular Std Light', sans-serif;
  font-size: 15px;
  display: inline-block;
  transition: width 0.5s;
}

.btn-action:hover{
  width: 170px;
  justify-content: space-between;
}

.btn-action img{
  width: 20px;
  display: none;
  margin-left: 10px;
}

.btn-action:hover img{
  display: inline-block;
}

.col-md-4{
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
  text-align: center;

}

/*---------------discover-section--------------*/

#discover{
  color: black;
  padding-bottom: 40px;
}

.btn-discover{
  width: 140px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Circular Std Medium', sans-serif;
  font-size: 15px;
}

/*---------------footer-section--------------*/

#footer{
  background-color: #F23005;
  color: black;
  padding: 20px 70px 20px 70px;
}

.footer-text{
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 16px;
  color: white;
}

.col-md-auto{
  vertical-align: super;
}

.footericon{
  margin-left: 5px;

}

.footer-icon{
  width: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.footer-logo{
  width: 120px;
  cursor: pointer;
}

.list-unstyled li{
    font-family: 'Circular Std Light', sans-serif;
    list-style: none;
    padding-left: 0;
}

.col{
  padding-top: 20px;
  padding-left: 30px;
}


.footer-specs{
    font-family: 'Circular Std', sans-serif;
    font-size: 14px;
    color: white;
    padding-top: 20px;
}

/*---------------manifesto-section--------------*/

/*---------------valori-section--------------*/

#valori{
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.image-title{
  width: 250px;
  margin-top: 20px;
}

.image-values{
  width: 70%;
  position: relative;
  text-align: left;
  z-index: 10;
}

.values-text{
  font-family: 'Circular Std Light', sans-serif;
  font-size: 18px;
  text-align: left;
}

/*---------------vision-section--------------*/

#vision{
    background-color: #F4F4F4;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
      margin-bottom: 50px;
  }

.vision-image{
  width: 70%;
  margin: 20px;
}

.image-man{
  width: 70%;
}

/*---------------mappa-section--------------*/

#mappa{
    color: black;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }


  .mappa-image{
    width: 100%;
    position: relative;
    text-align: left;
    z-index: 10;
  }


/*---------------contatti-section--------------*/

#contatti{
    color: black;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

.contatti-image{
  width: 80%;
  position: relative;
  z-index: 10;
}

/*---------------storie-section--------------*/

#storie{
    color: black;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }


.storie-image:hover{
  color: white;
}

.storie-image{
  width: 90%;
  align-items: center;
}

<script>
LottieInteractivity.create({
  mode: 'scroll',
  player: '#firstLottie',
  actions: [
      {
        visibility: [0,1],
        type: 'seek',
        frames: [0, 61],
      },
    ],
});
</script>




@media screen and (min-width: 801px) {
}



@media screen and (max-width:800px){

  #nav-bar {
      position: sticky;
      top: 0;
      z-index: 100;
      outline: 1px solid black;
    }

  #banner{
    background: none;
  }
  #footer{
    padding: 0 0 0 0;
  }


  .container, .container-lg {
      max-width: 960px;
}

  .col-md-6{
    width: 100vw;
  }

  .claim{
    top: 0px;
    font-size: 32px;
  }

  #firstLottie{
    align-items: center;

  }

  .image-banner{
  width: 100vw;
  padding-right: 30px;
  padding-top: 30px;
}

 .image-function{
   width: 100%;
 }

  .function-list p{
    text-align: center;
  }

  .col-lg-6{
    text-align: center;
  }

#function-cliente{
  flex-direction: column-reverse;
}

.btn-action{

}

.values-text{
text-align: center;
}

.vision-image{
  width: 90%;
}

.image-man{
  width: 50%;
}

  @media screen and (max-width:380px){
  .claim{
    top: 0px;
    font-size: 26px;
  }
  }
